<div class="home-view">
  <div class="container">
    <div class="left-top cards-container">
      <app-card class="card" title="Total Users" value="100"></app-card>
      <app-card class="card" title="Total Orders" value="200"></app-card>
      <app-card class="card" title="Total Revenue" value="300"></app-card>
      <app-card class="card" title="Average Wait Time" value="< 5 min"></app-card>
    </div>
    <div class="left-bottom">
      <div class="map-container">
        <app-map></app-map>
      </div>
    </div>
    <div class="right">

      <div class="chart-container">
        <h2>Customer Overview</h2>
        <app-chart></app-chart>
      </div>
    </div>
  </div>
</div>
<!--
<div class="dashboard">
  <app-card *ngFor="let card of cards" [title]="card.title" [value]="card.value"></app-card>
</div> -->





