<div class="home-view">
  <div class="container">
    <div class="left-top cards-container">
      <app-card *ngFor="let card of cards | slice:0:4" class="card" [title]="card.title"
        [value]="card.value"></app-card>
    </div>
    <div class="left-bottom">
      <div class="map-container">
        <app-map></app-map>
      </div>
    </div>
    <div class="right">
      <div class="right-top chart-container">
        <h2>Customer Overview</h2>
        <app-chart></app-chart>
      </div>
      <div class="right-bottom overview-container">
        <h2>General Overview</h2>
        <!-- Hier kommt die Gernral Overview Componente -->
        <ul class="general-overview-list">
          <li>
            <strong>Total Customers:</strong> {{ generalOverviewItems[0] }}
          </li>
          <li>
            <strong>Total Cars:</strong> {{ generalOverviewItems[1] }}
          </li>
          <li [hidden]="!allCustomersServed">
            <strong>Total Distance Covered:</strong> {{ generalOverviewItems[2] }} km
          </li>
          <li [hidden]="!allCustomersServed">
            <strong>Total Time Passed:</strong> {{ generalOverviewItems[3] }} mins
          </li>
        </ul>
    </div>
  </div>
</div>
