.box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 5px 0;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}

.container li {
  list-style-type: none;
}

.left-top {
  grid-column: 1 / span 2;
  background-color: #f9f9f9;
  border-radius: 15px;
  padding: 10px;
}

.right-top {
  grid-column: 3;
  background-color: #f9f9f9;
  border-radius: 15px;
  padding: 10px;
}

.overview li:hover {
  transform: scale(1.01); /* Vergrößert das Element um 5% */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Fügt einen Schlagschatten hinzu, um den Effekt zu betonen */
}
