.box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 5px 0;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.container{
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  /*Make grid with 3 rows and 4 collumns*/
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.container li {
  list-style-type: none;
}

.left-top {
  grid-column: 1 / span 2;
  grid-row: 1;
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 10px;
}

.right-top {
  grid-column: 3;
  grid-row: 1;
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 10px;
}

.left-middle{
  grid-column: 1;
  grid-row: 2;
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 10px;
}

.middle{
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 10px;
}

.right-long{
  grid-column: 4;
  grid-row: 1 / span 3;
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 10px;
}

.left-bottom {
  grid-column: 1;
  grid-row: 3;
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 10px;
}
