<div class="container">
  <div class="left-top">
    <h2>Details</h2>
    <ul class="overview">
      <li><div class="box">Total Time: {{ totalTime}}</div></li>
      <li><div class="box">Average Utilization: {{ averageUtilization }}</div></li>
      <li><div class="box">Average Wait Time: {{ averageWait }}</div></li>

      <li><div class="box">Highest Distance: {{ highestDistance }}</div></li>
      <li><div class="box">Shortest Distance: {{ shortestDistance }}</div></li>
      <li><div class="box">Current Distance: {{ currentDistanceXX }}</div></li>
      <li><div class="box">Average Trip Distance: {{ averageTripDistance }}</div></li>
      <li><div class="box">Average Speed: {{ averageSpeed }}</div></li>

    </ul>
  </div>
  <div class="right-top">
    <h2>Top 3 Vehicles</h2>
    <ul class="overview">
      <li *ngFor="let vehicle of top3Vehicles"><div class="box">{{vehicle.id}}: {{vehicle.percentage*100}}% average load</div></li>
    </ul>
  </div>
  <div class="left-middle">
    <h2>Bottom 3 Vehicles</h2>
    <ul class="overview">
      <li *ngFor="let vehicle of bottom3Vehicles"><div class="box">{{vehicle.id}}: {{vehicle.percentage*100}}% average load</div></li>
    </ul>
  </div>
  <div class="middle">

  </div>
  <div class="right-long">

  </div>
  <div class="left-bottom">

  </div>
</div>
